.App {
  text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

#french-link {
    text-decoration: none;
}

#french-link:hover {
    text-decoration: underline;
}